html,
body {
  font-family: 'Montserrat', 'Times New Roman', sans-serif;
  color: #252B42;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
}

/* ======================================================================== */

.container {
  /* Ширина для контента на странице */
  max-width: 1046px;

  /* ┏ адаптив ┓ */
  padding: 0 36px;
  box-sizing: content-box;
  /* ┗ адаптив ┛ */

  /* Выстроит любой блочный блок по центру */
  margin: 0 auto;
}

/* ┏ для примера ┓ */
.wrapper {
  /* display: flex; */
  /* flex-direction: column; */
  /* min-height: 100%; */
}
/* ┗ для примера ┛ */

/* ======================================================================== */

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 104px;
}

/* ┏ адаптив ┓ */
@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}
/* ┗ адаптив ┛ */

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.header__menu {
  margin-left: 133px;
}

/* ┏ адаптив ┓ */
@media (max-width: 992px) {
  .header__menu {
    margin-left: 80px;
  }
}

@media (max-width: 768px) {
  .header__menu {
    margin-left: 50px;
  }
}

@media (max-width: 425px) {
  .header__menu {
    margin-left: 20px;
  }
}
/* ┗ адаптив ┛ */

.menu__list {
  display: flex;
  padding: 0;
  margin: 0;

  /* ┏ адаптив ┓ */
  flex-wrap: wrap;
  /* ┗ адаптив ┛ */
}

/* ┏ адаптив ┓ */
@media (max-width: 320px) {
  .menu__list {
    flex-direction: column;
  }
}
/* ┗ адаптив ┛ */

.menu__item {
  list-style: none;
  padding: 8px 0;
}

.menu__item:not(:last-child) {
  margin-right: 21px;
}

.menu__link {
  color: #737373;
  line-height: 24px;
  list-style: none;
  font-weight: 600;
  text-decoration: none;
}

/* ┏ адаптив ┓ */
@media (max-width: 320px) {
  .menu__link  {
    font-size: 18px;
  }
}
/* ┗ адаптив ┛ */

/* ======================================================================== */

/* ┏ для примера ┓ */
.main {
  /* flex: 1 0 auto; */
  background-color: #FAFAFA;
}
/* ┗ для примера ┛ */

.banner {
  background-image: url(../img/banner.jpg); /* Местоположение фоновой картинки */
  background-position: center center; /* Фоновое изображение выровнено по центру в горизонтальной и вертикальной плоскостях */
  background-repeat: no-repeat; /* Фон не повторяется */

  /* Фон зафиксирован в области просмотра и потому не двигается, когда высота контента превышает высоту изображения */
  /* background-attachment: fixed;  */

  background-size: cover; /* Это свойство заставляет фон менять масштаб при изменении размеров содержащего его контейнера*/
  background-color: #464646; /* Цвет фона, который будет отображаться при загрузке фоновой картинки*/

  /* Краткая запись */
  /* background: url(../img/banner.png) center center cover no-repeat fixed; */

  padding-top: 104px;
}

/* ┏ адаптив ┓ */
@media (max-width: 768px) {
  .banner  {
    background-position: right; 
  }
}
/* ┗ адаптив ┛ */

.banner .banner-content {
  padding: 80px 0 191px;
  max-width: 509px; /* Позже изменить 509 на 400 */
}

/* ┏ адаптив ┓ */
@media (max-width: 992px) {
  .banner .banner-content  {
    padding-top: 0;
  }
}
/* ┗ адаптив ┛ */

/* ┏ для примера ┓ */
.banner-content > *:not(:last-child) {
  /* margin-bottom: 35px; */
}
/* ┗ для примера ┛ */

.banner .title {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
}

/* ┏ адаптив ┓ */
@media (max-width: 992px) {
  .banner .title  {
    font-size: 42px;
    line-height: 40px;
  }
}
/* ┗ адаптив ┛ */

.banner .subtitle {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
}

.banner .buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.banner .buttons button {
  padding: 10px 36px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: inherit;
  background-color: #FF7B47;
  border-radius: 37px;
  color: #FFFFFF;
  cursor: pointer; /* отображаем курсор в виде руки при наведении */
}

.banner .buttons button:not(:last-child) {
  margin-right: 10px;
}

/* ┏ адаптив ┓ */
@media (max-width: 479px) {
  .banner .buttons button  {
    flex: 1 1 100%;
    margin: 0;
  }
  
  .banner .buttons button:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
/* ┗ адаптив ┛ */

.banner .buttons .button-green {
  background-color: transparent;
  border: 1px solid #0D5C63;
  color: #0D5C63;
}

/* ======================================================================== */

.features {
  margin-top: -111px;
}

.features-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features-item {
  background-color: #ffffff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 35px 40px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-item > *:not(:last-child) {
  margin-bottom: 10px;
}

.features-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.features-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.features-green {
  background-color: #0D5C63;
}

.features-green .features-title,
.features-green .features-description {
  color: #ffffff;
}

/* ======================================================================== */

.section-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 10px;
}

.section-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

/* ======================================================================== */

.achievements {
  padding: 80px 0;
}

.achievements-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.achievements-item {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  flex: 0 1 240px;
}

.achievements-item > *:not(:last-child) {
  margin-bottom: 10px;
}

.achievements-item:not(:last-child) {
  margin-right: 40px;
}

.achievements-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.achievements-description {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}

/* ======================================================================== */

.practice {
  padding: 80px 0;
}

.practice-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.practice-item {
  background-color: #ffffff;
  flex: 0 1 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.practice-item:not(:last-child) {
  margin-right: 35px;
}

.practice-item-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.practice-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 15px;
}

.practice-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.practice-picture {
  width: 100%;
  max-width: 240px;
}

/* ======================================================================== */

.footer {
  height: 74px;
  /* ┏ для примера ┓ */
    /* flex: 0 0 auto; */
  /* ┗ для примера ┛ */
}